.container-card{
    height: fit-content;
    background-image: url(../../../assets/image/img/card/background.svg);
    background-size: cover;
    background-position: top center;
    padding-top: 20px;
    padding-bottom: 50px;
    @media(max-width: 4000px){
        padding-top: 65px;
        padding-bottom: 220px;
    }
    @media(max-width: 2000px){
        padding-top: 20px;
        padding-bottom: 50px;
    }
    @media(max-width: 600px){
        padding-top: 10px;
        background-image: url(../../../assets/image/img/card/background.svg);
    }
    &__logo{
        height: 170px;
        padding: 30px 4%;
        box-sizing: border-box;
        @media(max-width: 4000px){
            height: 575px;
            padding: 90px 4%;
        }
        @media(max-width: 2600px){
            height: 305px;
            padding: 60px 4%;
        }
        @media(max-width: 1680px){
            height: 190px;
            padding: 30px 4%;
        }
        @media(max-width: 600px){
            text-align: center;
            height: 150px;
            padding: 25px 4%;
            margin-bottom: 20px;
        }
        img{
            height: 100%;
        }
    }
    .cards{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        @media(max-width: 4000px){
            width: 68%;
        }

        @media(max-width: 2600px){
            width: 80%;
        }
        
        @media(max-width: 1680px){
            width: 960px;
        }

        @media(max-width: 1440px){
            width: 1220px;
        }

        @media(max-width: 1300px){
            width: 990px;
        }

        @media(max-width: 1050px){
            width: 850px;
        }

        @media(max-width: 600px){
            width: 100%;
            flex-direction: column;
        }
    }
}