@use '../../../../sass/01-abstracts/variable' as *;

.container-sidebar{
    height: 96vh;
    width: 100px;
    padding: 30px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (max-width:768px){
        width: 100%;
        height: auto;
        padding: 20px;

        display: grid;
        grid-template-areas:
            'logo user'
            'menu menu';
    }
    &__logo{
        @media (max-width:768px){
            grid-area: logo;
        }
        img{
            width: 100%;
            @media (max-width:768px){
                width: 60%;
            }
        }
    }
    &__routes{
        @media (max-width:768px){
            width: 100%;
            display: flex;
            justify-content: space-between;
            grid-area: menu;
        }
        .route{
            background-color: $gray;
            text-align: center;
            padding: 12px;
            box-sizing: border-box;
            border-radius: 5px;
            margin-bottom: 25px;
            cursor: pointer;
            @media (max-width:768px){
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
    &__user{
        grid-area: user;
    }
}