<div class="container-sidebar">
    <div class="container-sidebar__logo">
        <img src="../../../../assets/image/img/login/logo.svg" alt="">
    </div>

    <div class="container-sidebar__routes">
        <div class="route" matTooltip="Credicorp Capital">
            <img src="../../../../assets/image/img/dashboard/home.png" alt="">
        </div>

        <div class="route" matTooltip="Descripción del evento">
            <img src="../../../../assets/image/img/dashboard/descripcion.png" alt="">
        </div>

        <div class="route" matTooltip="Agenda">
            <img src="../../../../assets/image/img/dashboard/agenda.png" alt="">
        </div>

        <div class="route" matTooltip="Expositores">
            <img src="../../../../assets/image/img/dashboard/home.png" alt="">
        </div>

        <div class="route" matTooltip="En vivo">
            <img src="../../../../assets/image/img/dashboard/home.png" alt="">
        </div>

    </div>

    <div class="container-sidebar__user" [matMenuTriggerFor]="optionsMenu">
        <img src="../../../../assets/image/img/dashboard/user.png" alt="">
    </div>

    <mat-menu #optionsMenu="matMenu" yPosition="above">
        <button mat-menu-item>Contraseña</button>
        <button mat-menu-item>Cerrar sesión</button>
    </mat-menu>

</div>