<div class="container-card">
    <app-loader  [message]="'Descargando cartilla...'" *ngIf="isLoading"></app-loader>
    
    <div class="card">
        <div class="card-header">
            <div class="card-header__letter font-chukfive">B</div>
            <div class="card-header__letter font-chukfive">I</div>
            <div class="card-header__letter font-chukfive">N</div>
            <div class="card-header__letter font-chukfive">G</div>
            <div class="card-header__letter font-chukfive">O</div>
        </div>
        <div class="card-body">
            <div class="card-body__number font-chukfive">{{b1}}</div>
            <div class="card-body__number font-chukfive">{{i1}}</div>
            <div class="card-body__number font-chukfive">{{n1}}</div>
            <div class="card-body__number font-chukfive">{{g1}}</div>
            <div class="card-body__number font-chukfive">{{o1}}</div>

            <div class="card-body__number font-chukfive">{{b2}}</div>
            <div class="card-body__number font-chukfive">{{i2}}</div>
            <div class="card-body__number font-chukfive">{{n2}}</div>
            <div class="card-body__number font-chukfive">{{g2}}</div>
            <div class="card-body__number font-chukfive">{{o2}}</div>

            <div class="card-body__number font-chukfive">{{b3}}</div>
            <div class="card-body__number font-chukfive">{{i3}}</div>
            <div class="card-body__logo"><img src="../../../../assets/image/img/logo.svg" alt=""></div>
            <div class="card-body__number font-chukfive">{{g3}}</div>
            <div class="card-body__number font-chukfive">{{o3}}</div>

            <div class="card-body__number font-chukfive">{{b4}}</div>
            <div class="card-body__number font-chukfive">{{i4}}</div>
            <div class="card-body__number font-chukfive">{{n4}}</div>
            <div class="card-body__number font-chukfive">{{g4}}</div>
            <div class="card-body__number font-chukfive">{{i4}}</div>

            <div class="card-body__number font-chukfive">{{b5}}</div>
            <div class="card-body__number font-chukfive">{{i5}}</div>
            <div class="card-body__number font-chukfive">{{n5}}</div>
            <div class="card-body__number font-chukfive">{{g5}}</div>
            <div class="card-body__number font-chukfive">{{o5}}</div>

        </div>
    </div>
</div>
<div class="container-action">
    <button class="btn container-action__download" (click)="downloadCard(id)">Descargar cartilla</button>
</div>
