@use '../../../../sass/01-abstracts/variable' as *;

footer{
    height: 4vh;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    p{
        font-size: 11px;
    }
}