<app-loader [showMessage]="false" *ngIf="isLoading"></app-loader>

<div class="container-dashboard">
    <app-sidebar></app-sidebar>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>